# © 2019 Serokell <hi@serokell.io>
# © 2019 Lars Jellema <lars.jellema@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

/.cabal-sandbox/
/cabal.sandbox.config
/dist/
/dist-newstyle
/.ghc.environment.*
/result
tags
Tags
TAGS
